.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


.bg {
  background: url('../img/exam.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.bgs{
  //position: static;  

}

.jumbotron {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
}





.img {
 background-image: url('../img/univs.png');
 /*width:640px;
*/ height:500px;
 position: relative;
}
.txt {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  font-size: 36px;
  color: #ffffff;
}

    body {
       height:1000px;
       background-image: url('https://placeimg.com/1720/1280/arch');
 
    }