<section data-ng-controller="TarefasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Taks     <small> <a href="/#!/tarefas/create">Nova tarefa</a> </small>  </h1>

    </div>

    <form class="form-inline">
        <div class="form-group">
            <label >Busca</label>
            <input type="text" ng-model="search" class="form-control" placeholder="qualquer texto">
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th ng-click="sort('titulo')">Titulo
                    <span class="glyphicon sort-icon" ng-show="sortKey=='titulo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                 </th>
                <th ng-click="sort('descriccao')">Detalhes
                    <span class="glyphicon sort-icon" ng-show="sortKey=='descriccao'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('prazo')">Prazo
                    <span class="glyphicon sort-icon" ng-show="sortKey=='prazo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('membro')">Membro
                    <span class="glyphicon sort-icon" ng-show="sortKey=='membro'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tarefa in tarefas|orderBy:sortKey:reverse|filter:search" >
                <td><a data-ng-href="#!/tarefas/{{tarefa._id}}"> {{tarefa.titulo}} </a></td>
                <td>{{tarefa.descriccao}}</td>
                <td>{{tarefa.prazo}}</td>
                <td>{{tarefa.membro.nome}}</td>
            </tr>
        </tbody>
    </table>




    <h1> com Lista </h1>


            <!-- this is the new search input field -->
        <div class="form-group">
            <input type="text" ng-model="search" typeahead="tarefa as tarefa.membro.nome for tarefa in tarefas | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="tarefaSearch($item)" placeholder="Buscar tarefas...">
        </div>
        <input type="date" ng-model="dataInicio" datepicker-popup="{{format}}">
            <input type="date" ng-model="dataFim" datepicker-popup="{{format}}">
        <span ng-bind="tarefas.length"> ola</span>  

    <div class="list-group">
        <a data-ng-repeat="tarefa in tarefas" data-ng-href="#!/tarefas/{{tarefa._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Membro
                <span data-ng-bind="tarefa.membro.nome"></span>
            </smal>
            <h4 class="list-group-item-heading" data-ng-bind="tarefa.titulo"></h4>
            <span data-ng-bind="tarefa.descriccao"></span>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!categories.$resolved || categories.length">
        Sem tarefas ainda... experimente <a href="/#!/tarefas/create">criar uma</a>?
    </div>

    <a href="/#!/tarefas/create">Nova tarefa</a>
</section>

<script type="text/javascript"> $.material.init() </script>