<section data-ng-controller="AlternativasController" data-ng-init="listPerguntas()">
    <div class="page-header">
        <h1>New Alternativa</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="conteudo">Conteudo</label>
                    <div class="controls">
                        <input type="text" data-ng-model="conteudo" id="conteudo" class="form-control" placeholder="Conteudo" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="isCorrecte">isCorrecte?</label>
                    <div class="controls">
                        <input type="text" data-ng-model="isCorrecte" id="isCorrecte" class="form-control" placeholder="isCorrecte" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="letra">Letra</label>
                    <div class="controls">
                        <input type="text" data-ng-model="letra" id="letra" class="form-control" placeholder="Letra" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="imagen">Imagen</label>
                    <div class="controls">
                        <input type="text" data-ng-model="imagen" id="imagen" class="form-control" placeholder="Imagen" required>
                    </div>
                </div>

              <div class="form-group">
                        <select ng-model="pergunta" ng-options="pergunta.texto for pergunta in perguntas track by pergunta._id">
                          <option value="">-- Escolher pergunta --</option>
                        </select>
                    </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>