<section data-ng-controller="ExamesController" data-ng-init="find()">
    <div class="page-header">
        Exames
        <button class="btn btn-success pull-right" data-ng-click="direct()"><span class="glyphicon glyphicon-plus"></span> Novo Exame</button>
    </div>
<!--     <div class="list-group">
        <a data-ng-repeat="exame in exames" data-ng-href="#!/exames/{{exame._id}}" class="list-group-item">
			<small class="list-group-item-text">
				
				<span data-ng-bind="exame.ano"></span>
                <span data-ng-bind="exame.disciplina.name"></span> 

			</small>
			<h4 class="list-group-item-heading" data-ng-bind="exame.name"></h4>
        </a>
    </div> -->
    <div class="row">
        <div data-ng-repeat="exame in exames" class="col-md-4 no-padding">
            <div  class="panel panel-primary">
              <div class="panel-heading">
                <span data-ng-bind="exame.ano" class="badge "></span></div>
                <div class="panel-body">
                <p> <a data-ng-bind="exame.disciplina.name" data-ng-href="#!/exames/{{exame._id}}" class="card-text"> <a/></p>
               <!-- <div class=" card-block pull-righ"> <a href="#" class="btn btn-primary">Button</a> <a href="#"  class="btn btn-primary">Button</a> <a href="#" class="btn btn-primary">Button</a> 
               </div> -->
              </div>
            </div>
        </div>

    </div>


    <div class="alert alert-warning text-center" data-ng-hide="!exames.$resolved || exames.length">
    	No Exames yet, why don't you <a href="/#!/exames/create">create one</a>?
    </div>
</section>