<section data-ng-controller="AjudasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Ajudas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="ajuda in ajudas" data-ng-href="#!/ajudas/{{ajuda._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="ajuda.created | date:'medium'"></span>
				by
				<span data-ng-bind="ajuda.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="ajuda.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!ajudas.$resolved || ajudas.length">
    	No Ajudas yet, why don't you <a href="/#!/ajudas/create">create one</a>?
    </div>
</section>