<section data-ng-controller="TagPerguntasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Tag perguntas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="tagPergunta in tagPerguntas" data-ng-href="#!/tag-perguntas/{{tagPergunta._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="tagPergunta.created | date:'medium'"></span>
				by
				<span data-ng-bind="tagPergunta.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="tagPergunta.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tagPerguntas.$resolved || tagPerguntas.length">
    	No Tag perguntas yet, why don't you <a href="/#!/tag-perguntas/create">create one</a>?
    </div>
</section>